<h2>Dashboard</h2>

<!-- <h3>Categories</h3>
<table class="table">
<thead>
	<tr>
		<th>Full Name</th>
		<th>Short Name</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="category in categories.categories | orderBy:'fullname'">
		<td>{{ category.fullname }}</td>
		<td>{{ category.shortname }}</td>
	</tr>
</tbody>
</table>

<h3>Plants</h3>
<table class="table">
<thead>
	<tr>
		<th>Name</th>
		<th>Botanical Name</th>
		<th>Category</th>
		<th>Sun Needs</th>
		<th>Soil Type</th>
		<th>Soil PH</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="plant in plants.plants | orderBy:'name'">
		<td>{{ plant.name }}</td>
		<td><em>{{ plant.botanicalName }}</em></td>
		<td>{{ plant.category }}</td>
		<td>{{ plant.sun }}</td>
		<td>{{ plant.soilType }}</td>
		<td>{{ plant.soilPh }}</td>
	</tr>
</tbody>
</table> -->

<a class="btn btn-primary btn-lg" href="#/garden/0">Start Garden</a>